<div class="text-center">
    <p>
        <span>ID:</span>
        <span id="idEntrega">{{pedido.idPedido}}</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>Data:</span>
        <span id="dataEntrega">{{pedido.dataPedido}}</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>Resíduo:</span>
        <span id="residuoEntrega">{{pedido.tipoResiduo}}</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>Quantidade:</span>
        <span id="quantidadeEntrega">{{pedido.quantidadeResiduo}} Toneladas</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>Empresa:</span>
        <span id="nomeEntrega">{{pedido.nomeEmpAtendente}}</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>CNPJ:</span>
        <span id="cnpjEntrega">{{empresa.cnpj}}</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>Endereço:</span>
        <span id="enderecoEntrega">{{pedido.endereco}}</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>Telefone:</span>
        <span id="telefoneEntrega">{{empresa.telefone}}</span>
    </p>
</div>
<div class="text-center">
    <p>
        <span>Email:</span>
        <span id="emailEntrega">{{empresa.email}}</span>
    </p>
</div>