<div class="card-md">
    <div class="card-body p-5 ">
        <h3 class="card-title text-center">Cadastro</h3>
        <p class="card-text">
        <form action="/cadastro" method="post" enctype="multipart/form-data">
            
            <div class="input-group-md mb-3">
                <input name="nomeEmpresa" type="text" class="form-control" placeholder="Nome da empresa" value="{{usuario.nomeEmpresa}}"
                    aria-label="Nome da empresa" aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input name="email" type="text" class="form-control" placeholder="E-mail" value="{{usuario.email}}" aria-label="email"
                    aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input name="usuario" type="text" class="form-control" placeholder="Nome de usuário" value="{{usuario.nomeUsuario}}" aria-label="Usuário"
                    aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input name="senha" type="password" class="form-control" placeholder="Senha" value="*********" aria-label="Senha"
                    aria-describedby="basic-addon2">
                <div class="progress progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%"
                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="input-group-md mb-3">
                <input name="telefone" type="text" class="form-control" placeholder="Telefone" value="{{usuario.telefone}}" aria-label="Telefone"
                    aria-describedby="basic-addon2">
            </div>
            <div class="input-group-md mb-3">
                <input name="cnpj" type="text" class="form-control" placeholder="CNPJ" value="{{usuario.cnpj}}" aria-label="CNPJ"
                    aria-describedby="basic-addon2">
            </div>
            <div class="dropdown mb-3">
                <h6>Ramo da empresa</h6>
                <select name="ramoEmpresa" class="btn btn-secondary dropdown-toggle" aria-placeholder="Ramo empresa">
                    <option value="Química">Química</option>
                    <option value="Construção">Construção</option>
                    <option value="Eletronicos">Eletronicos</option>
                </select>
            </div>

            <div class="col form-group">
                <h6>Foto perfil</h6>
                <input type="file" name="picture">
            </div>

            <div class="dropdown mb-3">
                <h6>Tipo de usuário</h6>
                <select name="tipoUsuario" class="btn btn-secondary dropdown-toggle" aria-placeholder="Ramo empresa">
                    <option value="cliente">Cliente</option>
                    <option value="coletor">Coletor</option>
                    <option value="tratamento">Tratamento</option>
                </select>
            </div>

            <div class="input-group-md mb-3">
                <button class="btn btn-secondary btn-lg btn-block" type="submit">Cadastrar</button>
            </div>

        </form>
        </p>
    </div>

</div>